__pycache__/
*.pyc
*.pyo
*.egg
*.egg-info/
dist/
build/
*.exe
.env
venv/
.venv/
*.db
*.db-shm
*.db-wal
config.json

AUDIT.md
PLAN.md
repomix-output.md

assets/app.ico
version_info.txt

# логи и IDE
*.log
.idea/
.vscode/
*.spec.bak
